* {
  margin: 0;
}

body {
  font-family: 'Sen', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 14px;
}

.icon {
  color: #16a085;
}

.icon:hover {
  transition: 0.5s;
  color: #34495e;
  cursor: pointer;
}

/* Simple dashboard grid CSS */
/* Assign grid instructions to our parent grid container */
.grid-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 50px 1fr 30px;
  grid-template-areas:
    "sidenav header"
    "sidenav main"
    "sidenav footer";
  height: 100vh;
}

/* Give every child element its grid name */
.header {
  grid-area: header;
  background-color: #16a085;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  font-weight: 700;
}

.sidenav {
  display: flex; /* Will be hidden on mobile */
  flex-direction: column;
  grid-area: sidenav;
  background-color: #34495e;
}

.main-header__heading {
  font-size: 18px;
}

.sidenav__list {
  padding: 0;
  margin-top: 85px;
  list-style-type: none;
}

.sidenav__list-item {
  padding: 20px 20px 20px 40px;
  font-weight: 700;
  font-size: 14px;
  color: white;
}

.sidenav__list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.active_sidenav{
  background-color: rgba(255, 255, 255, 0.2);
}

.main {
  grid-area: main;
  background-color: #ecf0f1;
}

.main-overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr)); /* Where the magic happens */
  grid-auto-rows: 94px;
  grid-gap: 20px;
  margin: 20px;
}

.overviewcard {
  display: flex;
  align-items: center;
  border: none;
  justify-content: space-between;
  padding: 20px;
  color: white;
  background-color: #1abc9c;
}

.main-cards {
  width: 98.5%;
  column-count: 3;
  column-gap: 10px;
  margin: 10px;
}

.card {
  color: #571845;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
  margin-bottom: 10px;
  -webkit-column-break-inside: avoid;
  /* padding: 24px; */
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 2px 5px 0 rgba(0, 0, 0, 0.05);
}

/* Force varying heights to simulate dynamic content */
.card:first-child {
  height: auto;
  padding: 0px;
  min-height: 620px;
}

.card:nth-child(2) {
  padding: 0px;
}

.card:nth-child(3) {
}

.card:nth-child(4) {
}

.card:nth-child(5) {
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  height: auto; /* Force our height since we don't have actual content yet */
  background-color: #e3e4e6;
  color: #34495e;
  font-weight: 700;
}

.footer {
  grid-area: footer;
  background-color: #16a085;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-weight: 700;
}

.yearSlider {
  display: grid;
  grid-template-columns: 10% 90%;
  width: -moz-available;
  width: -webkit-fill-available;
  font-size: 12px;
  padding: 20px 30px 20px 30px;
}

.searchNav {
  display: grid;
  grid-template-columns: 10% 10% 60% 10% 10%;
  width: -moz-available;
  width: -webkit-fill-available;
  font-size: 12px;
  padding: 20px 30px 20px 30px;
}

.searchNavFirst {
  text-align: left;
}

.searchNavPrev {
  text-align: left;
}

.searchNavMiddle {
  text-align: center;
  width: -moz-available;
  width: -webkit-fill-available;
  display: inline;
}

.searchNavMiddle ul {
    list-style: none;
}

.searchNavMiddle ul li{
    display: inline;
    font-weight: 600;
    font-size: 14px;
    padding: 10px;
    color: #16a085;
    border: none;
    cursor: pointer;
}

.searchNav_active {
  border: 3px solid #16a085 !important;
}

.searchNavNext {
  text-align: right;
}

.searchNavLast {
  text-align: right;
}


.cardHeading {
  width: -moz-available;
  width: -webkit-fill-available;
  font-weight: 700;
  padding: 15px 15px 15px 15px;
  background: #34495e;
  color: white;
  text-align: center;
}

.cardContent {
  width: -moz-available;
  width: -webkit-fill-available;
  padding: 10px;
  text-align: center;
}

.patentListClassHeading {
  width: -moz-available;
  width: -webkit-fill-available;
  font-weight: 700;
  display: grid;
  border: none;
  padding: 15px 15px 15px 15px;
  background: #16a085;
  color: white;
}

.patentList {
    width: -moz-available;
    width: -webkit-fill-available;
}

.patentListClass {
  list-style-type: none;
  width: -moz-available;
  width: -webkit-fill-available;
  display: grid;
  border: none;
  padding: 5px;
}

.patentListClass ul {
}

.patentListClass li {
  display: grid;
  padding: 8px;
  color: #34495e;
}

.patentListClass li:hover {
  transition: 0.4s;
  color:  #34495e !important;
  background-color: #e3e4e6;
  cursor: pointer;
}

.patentListClass_active {
  background-color: #16a085;
  color: white !important;
  cursor: pointer;
}


.patentListItemId {
  grid-column: 1;
}

.patentListItemCount {
  grid-column: 2;
  text-align: right;
}

.patentKeywordList {
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: -moz-available;
  width: -webkit-fill-available;
}

.patentKeywordListItem {
  padding: 5px;
  background-color: #e3e4e6;
  margin: 2px;
  align-items: flex-end;
  text-align: center;
}

.main-dropdown select {
  border: none;
  -webkit-appearance: button;
  background-color: #16a085;
  color: white;
  font-weight: 400;
  font-family: 'Sen', sans-serif;
  padding: 10px;
  cursor: pointer;
}

.main-dropdown select:hover {
  background-color: #1abc9c;
}

.main-dropdown select option {
  background-color: #16a085;
  color: white;
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: rgba(255, 255, 255, 0.1) radial-gradient(circle, transparent 1%, rgba(255, 255, 255, 0.1) 1%) center/15000%;
}
.ripple:active {
  background-color: #1abc9c;
  background-size: 100%;
  transition: background 0s;
}

.barChart {
  height: 200px;
  width: auto;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  background: #ecf0f1;
  border-radius: 50px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 20px;
  background: #16a085;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background: #16a085;
  cursor: pointer;
}

.sliderValueText {
  color: #16a085;
  font-weight: 700;
}

.btn {
  background: none;
  border: none;
  color: #16a085;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}
